@use "./../../foundation/system" as s;

.c-footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 116px;
  background-color: s.$c-base;
}

.c-footer-logo img {
  height: 73px;
}
