@use "./../../foundation/system" as s;

.c-footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: s.$c-base;
}

.c-footer-logo img {
  height: 35px;
  cursor: pointer;
}
