@use "./../../foundation/system" as s;

.c-site-logo {
  padding-top: calc(2.3% * var(--sp));
  text-align: center;
  img {
    display: inline-block;
    width: 18%;
    @include s.breakpoint(tablet) {
      width: 50%;
    }
  }
}
