@use "./../../foundation/system" as s;

.p-careers {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -10%;
    left: -3%;
    width: 18%;
    padding-top: 22%;
    background-image: url('../../../public/img/az_robot.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    @include s.breakpoint(tablet) {
      bottom: -5%;
      width: 35%;
      padding-top: 40%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: -3%;
    width: 18%;
    padding-top: 22%;
    background-color: s.$c-body;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    @include s.breakpoint(tablet) {
      bottom: -5%;
      width: 35%;
      padding-top: 40%;
    }
  }
  &__container {
    padding: calc(5.7% * var(--sp)) 5%;
    margin: 0 auto;
    border-top: 1px solid s.$c-base;
  }
  &__container:last-of-type {
    border-bottom: 1px solid s.$c-base;
  }
  &__position {
    margin-bottom: calc(2.7% * var(--sp));
    @include s.font-careers-subtitle;
    font-weight: bold;
  }
  &__subtitle {
    @include s.font-careers-text;
    font-weight: bold
  }
  ul {
    margin-bottom: calc(2.7% * var(--sp));
    padding-inline-start: 0px;
    list-style-type: none;
    li {
      @include s.font-careers-text;
    }
  }
}
