@use "./../../foundation/system" as s;

.p-contact-info {
  padding: calc(11% * var(--sp)) 0 calc(7% * var(--sp));
  text-align: center;
  &__title {
    @include s.font-38;
    padding: 0 9% calc(4.8% * var(--sp));
  }
  &__text {
    @include s.font-20;
  }
  &__load-link {
    padding-top: calc(3.6% * var(--sp));
    a {
      @include s.font-20;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
