/* c-section
--------------------------- */
@use "./../../foundation/system" as s;

.p-section {
  padding: 0 0 calc(8% * var(--sp));
  text-align: center;
  &:last-of-type {
    padding-bottom: 0px;
  }
  &--two {
    padding: 0 0 calc(8% * var(--sp));
    text-align: center;
    &:last-of-type {
      padding-bottom: 0px;
    }
  }
  &__firstview{
    padding: 0 0;
  }
  &__main-heading {
    @include s.font-main-heading;
    padding-top: calc(5.4% * var(--sp));
    padding-bottom: calc(3.6% * var(--sp));
  } 
  &__main-heading-tab {
    @media (max-width: 1228px) {
      display: none;
    }
  }
  &__explanation {
    padding: 0 10% 0;
    @include s.font-base-text;
  }
  &__explanation--two {
    padding: 0 15% 0;
    @include s.font-base-text;
  }
  &__title {
    padding: 0 9% calc(3% * var(--sp));
    @include s.font-base-title-02;
  }
  &__title--two {
    padding: 5% 9% calc(3% * var(--sp));
    @include s.font-base-title-02;
  }
  &__text {
    padding: 0 7% 80px;
    @include s.font-base-text;
  }
  &__sub {
    width: 70%;
    padding-bottom: calc(2.3% * var(--sp));
    margin: 0 auto calc(4.2% * var(--sp));
    border-bottom: 1px solid s.$c-base;
    font-weight: normal;
    @include s.font-main-heading;
  }
  &__sub-lists {
    padding-top: calc(1.3% * var(--sp));
    padding-inline-start: 0px;
    list-style-type: none;
    li {
      line-height: 1.6;
      @include s.font-careers-text;
    }
  }
  &__sub-container {
    .p-section__text:last-of-type {
      padding-bottom: 0px;
    }
  }
  &__graph {
    padding: 0 25% calc(5% * var(--sp));
    img {
      width: 100%;
    }
  }
  &__load-link {
    padding-top: calc(3.6% * var(--sp));
    a {
      font-weight: bold;
      text-decoration: underline;
      @include s.font-base-text;
    }
  }
}
