/* c-section
--------------------------- */
@use "./../../foundation/system" as s;

.p-section {
  // padding: 0 0 140px;
  padding: 0 0 calc(12.7% * var(--sp));
  text-align: center;
  &:last-of-type {
    padding-bottom: 0px;
  }
  &__firstview{
    padding: 0 0;
  }
  &__main-heading {
    // padding: 58px 0 38px;
    font-size: 40px;
    @include s.font-40;
    padding-top: calc(5.4% * var(--sp));
    padding-bottom: calc(3.6% * var(--sp));
  }
  &__explanation {
    padding: 0 0 0;
    @include s.font-20;
  }
  &__title {
    padding: 0 9% calc(5% * var(--sp));
    @include s.font-38;
  }
  &__text {
    padding: 0 0 80px;
    @include s.font-20;
  }
  &__sub {
    width: 82%;
    // padding-bottom: 26px;
    padding-bottom: calc(2.3% * var(--sp));
    // margin: 0 9% 52px;
    margin: 0 9% calc(4.2% * var(--sp));
    border-bottom: 1px solid s.$c-base;
    font-weight: normal;
    // line-height: 1;
    @include s.font-40;
  }
  &__sub-lists {
    // padding-top: 15px;
    padding-top: calc(1.3% * var(--sp));
    padding-inline-start: 0px;
    list-style-type: none;
    li {
      line-height: 1.6;
      @include s.font-20;
    }
  }
  &__sub-container {
    .p-section__text:last-of-type {
      padding-bottom: 0px;
    }
  }
  &__graph {
    padding: 0 15% calc(5% * var(--sp));
  }
  &__load-link {
    // padding-top: 40px;
    padding-top: calc(3.6% * var(--sp));
    a {
      font-weight: bold;
      text-decoration: underline;
      @include s.font-20;
    }
  }
}
