@charset "UTF-8";

/*基本設定*/

*{
    margin: 0;
}

img{
    width: 100%;
    height:auto;
}

/*ページ全体の設定*/
.container{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 
        [head]100px
        [title]auto
        [sub]auto
        [recent]auto
        [foot]100px;
    grid-row-gap: 20px;
    row-gap: 20px;
    font-family: sans-serif;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

p.message {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

p{
    color: rgb(65, 65, 65);
    padding: 10px;
}

h3{
    color: rgb(36, 36, 36);
}

a{
    color: #666;
    text-decoration: none;
}

/*パーツの配置*/
.container > * {
    grid-column: 2/-2;
}

/*ヘッダー*/
header{
    grid-row: head;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    color: #666;
}

.site-title {
    width: 200px;
    line-height: 1px;
    padding: 10px 0;
  }

/*グローバルナビゲーション*/
nav.header{
    grid-row: head;
    justify-self: center;
    align-self: end;
}

nav.header ul{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    column-gap: 20px;
    position:relative;
	height: 0.5px;
}

nav.header a{
    color: #666;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

nav.header a:hover{
    color: rgb(141, 141, 141);
}

/*メインビジュアル*/
figure{
    grid-column: 1/-1;
    grid-row: title/span 2;
}

figure.main img{
    padding-top: 40px;
    object-fit: cover;
    vertical-align: bottom;
}

/*各セクション*/
article.center{
    grid-row: recent;
    text-align: center;
    padding-top: 40px;
}

/*不具合の原因↓*/

/* article{
    margin: 100px;
} */

section h3{
    font-size: 20px;
    padding: 20px;
}

img.service{
    width: 500px;
}

/*不具合の原因↑*/

article.center a{
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

section a:hover{
    color: rgb(141, 141, 141);
}

/*フッターのnavi*/
article.footer{
    align-self: end;
}

article.footer ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    margin: 80px 50px 10px 20px;
    grid-column-gap: 20px;
    column-gap: 20px;
}



/*フッター*/
footer{
    grid-row: foot;
    justify-self: center;
    align-self: center;
    grid-column: 1/-1;
    grid-row: foot;
}

/*フッターのバー*/
.container::after{
    content: "";
    background-color: #000000;
    grid-column: 1/-1;
    grid-row: foot;
    z-index: -1;
}

img.footer{
    width: 100px;
}

nav.footer{
    list-style-type: none;
    padding: 0;
}

/* member の設定 */
ul.member{
    list-style-type: none;
    padding: 30px;
}

img.member{
    max-width: 150px;
    height: auto;
}

/* article.member{
    grid-row: recent;
    display: grid;
    grid-template-columns: 1ft 1ft;
} */

/*CONTACT の設定*/
a.contact{
    color: #fff;
    background: #5876a3;
    padding: 58px 50px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    width: 500px;
}

article.contact{
    grid-row: recent;
    text-align: center;
}

hr {
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
    border-bottom: thin solid black;
    margin: 3em 0;
}

h4 {
    margin-top: 1.5em;
}

h5 {
    margin-top: 1em;
}

ul.values li {
    list-style-type: none;
  }
  